.vscode
node_modules
CommentItem.js

https://bitbucket.org/!api/internal/repositories/janetjeon/janet_jeon_brainflix/tree/d748cdeaee4a65cacc033075727b7a81c3d29b04/

https://bitbucket.org/!api/internal/repositories/janetjeon/janet_jeon_brainflix/tree/master/